body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.mainContainer {
    width: 40vw;
    margin: 0 auto;
}

.memContainer {
    width: 100%;
}

.memContainer:hover {
    cursor: pointer;
}

.memContainer:hover>label>.imgWrapper {
    display: block;
}

.imgWrapper {
    display: none;
    width: 30%;
    margin: 0 auto;
}

.memImage {
    width: 100%;
    margin: 0, auto;
}

input {
    display: none;
}


input:checked+label>.imgWrapper {
    display: block;
}

.memHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    display: none;
    width: 1em;
    height: 1em;
    background: url(img/icon.png) no-repeat;
    background-size: contain;
    transform: rotate(-90deg);

}

.mainContainer:hover .icon {
    display: block;
}

input:checked .icon,
.memContainer:hover .icon {
    display: block;
    transform: rotate(0deg);
}


.memContainer>label {
    display: block;
    cursor: pointer;
}